<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Favorite football teams</title>
    <link rel="stylesheet" href="static/css/styles.css">
      <link rel="favicon" href="favicon.ico">
</head>

<body>
  <ol type="I">
    <li>
      <h2 style="color:maroon;">FC Barcelona<a href="https://www.fcbarcelona.com/en/">-FCB</a></h2>
    </li>
    <li>
      <h2 style="color:yellow;">Brasil <a href=""></a></h2>
    </li>
    <li>
      <h2 style="color:yellow;">Kerala Blasters FC <a href="https://keralablastersfc.in/">-KBFC</a></h2>
    </li>
  </ol>
</body>

</html>
