<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Joel's Personal Site</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <table cellspacing="20">
    <tr>
      <td><img src="static/images/Joel pic.JPG" width="400" alt="My picture"></td>
      <td>
        <h1 class="joel">Joel Johnson</h1>
        <p><em>Web Development Student.</em></p>
        <p>I'm a computer student and studying <strong><a href="https://en.wikipedia.org/wiki/Web_development">Web Development</a></strong></p>
      </td>
    </tr>
  </table>
  <hr>
  <a href="institutions">Learned in</a>
  <br>
  <h3>Education</h3>
  <ul>
    <li>studying in 12th grade-in<a href="http://www.thelearningpoint.net/home/school-listings/cbse-5/ST--JOHN-S-SCHOOL-ANCHAL-KOLLAM-DISTRICT-KERALA-930151">St.John's School</a>,anchal</li>
    <li><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp">The complete Web Development Bootcamp</a></li>
  </ul>
  <hr>
  <h3>My Hobbies</h3>
  <ol>
    <li>Loves playing football</li>
    <li>Watching Football<a href="favorite teams"> -Favorite teams</a></li>
    <li>curious about scientific topics especially <a href="https://en.wikipedia.org/wiki/Astrophysics">Astro-physics</a></li>
  </ol>
  <hr>
  <a href="contactme">Contact</a>
</body>

</html>
