<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>institutions</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <h3>Studied In</h3>
  <table border="1" cellspacing="10" class="institutions">
    <thead class="">
      <tr>
        <th>Grades</th>
        <th>Institutions</th>
      </tr>
    </thead>
    <tbody class="color">
      <tr>
        <td>Kinder Garden-10th Grade</td>
        <td>St.Anns School</td>
      </tr>
      <tr>
        <td>11-12th Grade</td>
        <td>St.Johns School</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
